<div ng-controller="MainController as main" >
    <div class="container">
        <header>
            <div class="row">
                <div class="col s12 m6 offset-l3 offset-m3 offset-s0 center">
                    <h3>Rodrigues Lucas</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-l3 offset-m3 offset-s0 center">
                    <h1>Hi There!</h1>
                    <h4>What can I do for you?</h4>
                </div>
            </div>
        </header>
        <section>
            <div class="row line-bottom" style="width:80%">
                <div class="col s12 m6 l6 dvButton">
                    <a ui-sref="whyme" class="link-button">I NEED A HELP WITH A SYSTEM</a>
                </div>
                <div class="col s12 m6 l6 dvButton">
                    <a ui-sref="aboutme" class="link-button">I WANT LEARN MORE ABOUT YOU</a>
                </div>
            </div>
        </section>
        <footer>
            <div class="row">
                <div class="line-footer col s12 m6 l6 offset-l1 offset-m2 offset-s0 center">
                    <a class="btn-floating btn-large waves-effect waves-blue blue  accent-4"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a class="btn-floating btn-large waves-effect waves-light blue darken-4"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="btn-floating btn-large waves-effect waves-light purple"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                    <a class="btn-floating btn-large waves-effect waves-blue blue"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </footer>
    </div>
</div>