body {
    color: white;
}

.bg-filter-black {
    opacity: 0.4;
    background: black;
    height: 100vh;
}

.line-title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.line-subtitle {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
}

.line-bottom {
    bottom: 25%;
    position: absolute;
}

.line-footer {
    bottom: 5%;
    position: absolute;
}

.link-button {
    border: white 2px solid;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.dvButton {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.img {
    background: url(images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.up-border-tab {
    border-top: 2px solid yellow;
}

.bg-tab {
    background-color: yellow;
}

.container {
    margin-top: 50px;
}

@media only screen and (min-width: 601px) {
}
