<div ng-controller="WhymeController as why">
    <div ng-class="!why.showDetails?'transition':'transition main-details'" ng-click="hideDetails()" expand ng-show="why.showDetails" ng-animate="fadeIn:fadeOut">
        <h2>
            {{why.experience.title}}
        </h2>
        <h3>
            {{why.experience.Description}}
        </h3>
        
    </div>
    <div parallax-background parallax-ratio="0.5"
         class="parallax-image"
         style="background-image:url(./img/programminggif.gif);">


        <div class="title" style="padding-top: 15%;">
            <h1 style="margin-top: 0;">Why me</h1>
            <h2>Understanding the necessity</h2>
        </div>
    </div>
    <div class="row">
        <h4 class="col s10 offset-65">
            O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
            O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500,
            quando uma misturou os caracteres de um texto para criar um espécime de livro
        </h4>
    </div>
    <div class="row" style="background-color:white">
        <div class="col s12 m6 l6">
            <canvas id="line" class="chart chart-line" chart-data="why.data"
                    chart-labels="why.labels" chart-legend="false"
                    chart-click="why.onClick" chart-options="why.options"></canvas>
        </div>
        <div class="col s12 m6 l6">
            <p class="large-text">
                As tecnologias citadas nesse gráfico ao lado, são tecnologias que possuo experiência profissional, ou seja,
                tenho trabalhado profissionalmente em projetos de pequenos, médio e grande porte.
                Com foco em tecnologias back-end, porém tenho grande conhecimento em tecnologias front-end,
                possuindo experiência como desenvolvedor full-stack, desenvolvendo APIs e sistemas com javascript frameworks.
                Seguindo as boas práticas de desenvolvimento, com SOLID, TDD, Bound Context, e línguagem obíqua, dessa forma
                facilitando a escalabilidade dos projetos.
            </p>

        </div>
    </div>

    <!--<div parallax-background parallax-ratio="0.5"
         class="parallax-image"
         style="background-image:url(./img/luz2.jpg);"></div>-->
    <div style="background-color:white">
        <div class="row">
            <div class="col s12 m12 l12">
                <slick infinite=true slides-to-show=3 slides-to-scroll=3">
                    <div class="col s4 m4 l4" ng-repeat="experience in why.experiences track by $index">
                        <div class="col s12">
                            <div class="card" ng-click="why.getExperience(experience)">
                                <div class="card-image" style="background-color:blue;">
                                    <img src="{{::experience.flag}}" alt="" style="max-height:200px;" />
                                </div>
                                <div class="card-content">
                                    <h3>{{::experience.title}}</h3>
                                    <p style="color:black; padding-top:50px">
                                        {{::experience.Description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
    </div>
</div>

