



<div ng-controller="WhymeController as why">
    <div parallax-background parallax-ratio="0.5"
         class="parallax-image"
         style="background-image:url(./img/cliffs2.jpg);">

    </div>
    <div class="row">
        <div class="col s6 m6 l6">
            <canvas id="line" class="chart chart-line" chart-data="why.data"
                    chart-labels="why.labels" chart-legend="false"
                    chart-click="why.onClick" chart-options="why.options"></canvas>
        </div>
        <div class="col s6 m6 l6">
            <p>
                Lorem ipsum dolor sit amet, eum labores consequat eu,
                ex vis vide copiosae electram.
                Ut est congue ignota instructior, ex assum hendrerit usu.
                Ad pri case causae officiis, quas habeo ludus eum et.
                Facer virtute senserit ne sea, ex posse melius equidem eum.
            </p>
        </div>
    </div>

    <div parallax-background parallax-ratio="0.5"
         class="parallax-image"
         style="background-image:url(./img/luz2.jpg);"></div>
    <div parallax-background="" parallax-vertical-offset="100">
        <div class="row">
            <div class="col s12 m12 l12">
                <slick infinite=true slides-to-show=3 slides-to-scroll=3>
                    <div class="col s4 m4 l4" ng-repeat="experience in why.experiences track by $index">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-image">
                                        <img class="blur" style="{{::experience.imgStyle}}" src="{{::experience.img}}" alt="" />
                                        <span class="card-title">{{::experience.title}}</span>
                                    </div>
                                    <div class="card-content">
                                        <p style="color:black">
                                            {{::experience.Description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
    </div>
</div>

